# Predicting Newsletter Subscription in Minecraft Players

## Introduction:

### Background
The studying of player engagement and behavior in games such as Minecraft is a growing in the field of data science. In this project, I will be wokring with a research group at the University of British Columbia led by Dr. Frank Wood, which is investigating the behaviours and activities of players in a custom Minecraft game server. They collected each player’s activity over time, which allowed them to study their behavior, preferences, and play patterns.

### Question
The aim of this project is to answer the following question:
"Can characteristics of a player (e.g., behavior, play frequency, time-of-day usage) predict whether they will subscribe to the game-related newsletter?"
This question is quite intersting as it can help identify the types of players who most likley to show more engaggemnet and interests in the projects. This will also help with gettings player who have more long-term interest, which will help prioritize players for future studies.

### Data Description
To answer this question, this project will use two datasets:

* `players.csv`: Contains demographic and behavioral features of individual players, such as age, device, and whether they are subscribed to a newsletter.
* `sessions.csv`: Contains a record of each game session for each player, whcih includes timestamps, session length, and actions taken.
In this project, these datasets will be wrangled and used to construct meaningful visuals and relationships related to player behavior and characteristics to identify which features are most predictive of newsletter subscription.



## Methods and Results:

### Reading and Loading the Data
First let's load the libary `tidyverse` to get a package of functions. Then, lets read both of the datasets using the function `read_csv` and assign them to an object. Since the datastes are quite big, we can use the function `head` to get the first few rows to see what we are working with.

In [26]:
library(tidyverse)
library(ggplot2)

In [27]:
players_data <- read_csv("data/players.csv")
head(players_data)
sessions_data <- read_csv("data/sessions.csv")
head(sessions_data)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

### Wrangling and Cleaning

Now that we have read our data, it is now time to clean and wrangle it to make it easier to analyze. First, I joined both of the datasets so i can work with just one combined one. Then, I grouped the data by player characteristics like gender, age, experience level, subscription status, and played hours. Lastly, I used the count function in summarize to see how many times each player joined the game and created a summary table with one row for each group of players. This made the data much simpler.

In [25]:
combined_data <- inner_join(players_data, sessions_data, by = "hashedEmail")

combined_summary <- combined_data |>
  group_by(name, gender, Age, hashedEmail, experience, subscribe, played_hours) |>
  summarise(session_count = n(), .groups = "drop")

final_data <- combined_summary |>
    select(!hashedEmail & !name) |>
    head()
final_data

  gender            Age experience subscribe played_hours session_count
1 Prefer not to say 17  Beginner    TRUE       0.2          1
2 Non-binary        17  Amateur     TRUE       1.2          2
3 Other             NA  Pro         TRUE       0.2          1
4 Prefer not to say 25  Veteran    FALSE       1.4          6
5 Non-binary        20  Regular     TRUE     218.1         95
6 Male              17  Amateur     TRUE      53.9        130

### Wrangling and Cleaning

This data is now mcuh more clean to work with, making it ready for further analysis. With this cleaned dataset, I can now create visualizations using the library `ggplot2` and the fucntion `ggplot` to explore relationships between variables, allowing me to see which variables would make good predictors for classifying newsletter subscription status. Here are the plots I will be making:
* Gender VS Played Hours (With Subscription Status)
* Gender VS Session Count (With Subscription Status)
* Age VS Played Hours (With Subscription Status)
* Age VS Session Count (With Subscription Status)
* Experience VS Played Hours (With Subscription Status)
* Experience VS Session Count (With Subscription Status)